<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ExecuteAllowed</key>
    <true/>
	<key>Label</key>
	<string>com.fugu.debilitate</string>
	<key>Program</key>
	<string>/.Fugu14Untether/amfi/amfidebilitate</string>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>root</string>
	<key>MachServices</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
